{% extends "talentoh/index.html" %} 
{% load static %} 
{% block content %} 
{% if dato.id %}

<h1>Actualizar</h1>
{% else %}
<h1>Crear</h1>
{% endif %} {% csrf_token %}
<input id="empleadoId" type="hidden" name="id" value="{{ dato.id }}" /><br />
Primer apellido:
<input
  style="text-transform: uppercase"
  maxlength="20"
  onkeypress="return check(event)"
  class="form-control"
  name="primer_apellido"
  value="{{ dato.primer_apellido }}"
  id="primer_apellido"
/><br />
Segundo apellido:
<input
  style="text-transform: uppercase"
  maxlength="20"
  onkeypress="return check(event)"
  class="form-control"
  name="segundo_apellido"
  value="{{ dato.segundo_apellido }}"
  id="segundo_apellido"
/><br />
Primer nombre:
<input
  style="text-transform: uppercase"
  maxlength="20"
  onkeypress="return check(event)"
  class="form-control"
  name="primer_nombre"
  value="{{ dato.primer_nombre }}"
  id="primer_nombre"
/><br />
Otros nombres:
<input
  style="text-transform: uppercase"
  maxlength="50"
  onkeypress="return check(event)"
  class="form-control"
  name="otros_nombres"
  value="{{ dato.otros_nombres }}"
  id="otros_nombres"
/><br />
Pais Empleo:
<select
  class="form-control"
  name="pais_empleo"
  value="{{ dato.pais_empleo }}"
  id="pais_empleo"
>
  <option value="Colombia">Colombia</option>
  <option value="EE.UU">EE.UU</option>
</select>
<br />
Tipo identificación:
<select
  class="form-control"
  name="tipo_identificacion"
  value="{{ dato.tipo_identificacion }}"
  id="tipo_identificacion"
>
  <option value="Cédula de Ciudadanía">Cédula de Ciudadanía</option>
  <option value="Cédula de Extranjería">Cédula de Extranjería</option>
  <option value="Pasaporte">Pasaporte</option>
  <option value="Permiso Especial">Permiso Especial</option>
</select>
<br />
Número identificación:
<input
  onblur="validarNumero()"
  class="form-control"
  name="numero_identificacion"
  value="{{ dato.numero_identificacion }}"
  id="numero_identificacion"
/><br />
Correo:
<input
  class="form-control"
  name="Correo_Electronico"
  value="{{ dato.Correo_Electronico }}"
  id="Correo_Electronico"
  disabled
/><br />
Fecha de ingreso:
<input
  class="form-control"
  type="datetime-local"
  name="fecha_ingreso"
  value="{{ dato.fecha_ingreso }}"
  id="fecha_ingreso"
/><br />
Área:
<select class="form-control" name="area" value="{{ dato.area }}" id="area">
  <option value="Administración">Administración</option>
  <option value="Financiera">Financiera</option>
  <option value="Compras">Compras</option>
  <option value="Infraestructura">Infraestructura</option>
  <option value="Operación">Operación</option>
  <option value="Talento Humano">Talento Humano</option>
  <option value="Servicios Varios">Servicios Varios</option>
</select>
<br />
Estado: {%if dato.id %}
<input
  class="form-control"
  name="estado"
  value="{{ dato.estado }}"
  id="estado"
  disabled
/>
<br />
{%else%}
<input class="form-control" name="estado" value="Activo" id="estado" disabled />
<br />
{% endif%} Fecha de registro: {% if dato.id%}
<input
  class="form-control"
  type="datetime-local"
  name="fecha_registro"
  value="{{ dato.fecha_registro }}"
  id="fecha_registro"
  disabled
/>
<br />
{% else %}
<input
  class="form-control"
  type="datetime-local"
  name="fecha_registro"
  value=""
  id="fecha_registro"
/>
<br />
{%endif%} {% if dato.id %}

<button class="btn btn-primary" onclick="validar({{dato.id}})">
  Actualizar</button
><br />
{% else %}
<button class="btn btn-primary" onclick="validar(0)">Crear</button><br />
{%endif%}
<a href="{% url 'talentoh:consultar_empleados' %}">Volver</a>

<script>
  function pad(num) {
    if (num < 10) {
      return "0" + num;
    } else {
      return num;
    }
  }
  var fecha_registro = "{{dato.fecha_registro|date:'Y-m-d H:i:s'}}";
  fecha_registro = new Date(
    fecha_registro.split(" ")[0] + "T" + fecha_registro.split(" ")[1]
  );
  var fecha_final =
    fecha_registro.getFullYear() +
    "-" +
    pad(fecha_registro.getMonth() + 1) +
    "-" +
    pad(fecha_registro.getDate()) +
    "T" +
    pad(fecha_registro.getHours()) +
    ":" +
    pad(fecha_registro.getMinutes()) +
    ":" +
    pad(fecha_registro.getSeconds());
  document.getElementById("fecha_registro").value = fecha_final;

  var fecha_ingreso = "{{dato.fecha_ingreso|date:'Y-m-d H:i:s'}}";
  fecha_ingreso = new Date(
    fecha_ingreso.split(" ")[0] + "T" + fecha_ingreso.split(" ")[1]
  );
  var fecha_final =
    fecha_ingreso.getFullYear() +
    "-" +
    pad(fecha_ingreso.getMonth() + 1) +
    "-" +
    pad(fecha_ingreso.getDate()) +
    "T" +
    pad(fecha_ingreso.getHours()) +
    ":" +
    pad(fecha_ingreso.getMinutes()) +
    ":" +
    pad(fecha_ingreso.getSeconds());
  document.getElementById("fecha_ingreso").value = fecha_final;

  if ("{{dato.id}}" != "") {
    document.getElementById("area").value = "{{dato.area}}";
    document.getElementById("pais_empleo").value = "{{dato.pais_empleo}}";
  }
</script>
{% endblock %}
