{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="{% static 'talentoh/css/bootstrap.min.css' %}"
    />
    <!-- fin Bootstrap CSS -->

    <title>Empleados</title>
  </head>
  <body>
    <img src="{% static 'talentoh/img/cidenet.png' %}" width="20%" />
    <h1>Empleados</h1>
    <br />

    <a
      class="btn btn-info"
      href="{% url 'talentoh:formulario_actualizar' 0 %}"
      role="button"
      >Crear</a
    >

    {% if datos %}
    <!--   Tabla para listar datos de los empleados -->
    <table class="table table-hover">
      <tr>
        <th>Primer Nombre</th>
        <th>Otros Nombres</th>
        <th>Primer apellido</th>
        <th>Segundo apellido</th>
        <th>Tipo de identificación</th>
        <th>Número de identificación</th>
        <th>País del empleo</th>
        <th>Correo electrónico</th>
        <th>Estado</th>
        <th>Fecha registro</th>
        <th>Acciones</th>
      </tr>
      {% for datos in datos %}
      <tr>
        <td>{{datos.primer_nombre}}</td>
        <td>{{datos.otros_nombres}}</td>
        <td>{{datos.primer_apellido}}</td>
        <td>{{datos.segundo_apellido}}</td>
        <td>{{datos.tipo_identificacion}}</td>
        <td>{{datos.numero_identificacion}}</td>
        <td>{{datos.pais_empleo}}</td>
        <td>{{datos.Correo_Electronico}}</td>
        <td>{{datos.estado}}</td>
        <td>{{datos.fecha_registro}}</td>

        <td>
          <a
            class="btn btn-info"
            href="{% url 'talentoh:formulario_actualizar' datos.id %}"
            role="button"
            >Editar empleado</a
          >
          <a
            class="btn btn-danger"
            onclick="eliminarEmpleado('{% url 'talentoh:EmpleadoEliminar' datos.id %}')"
            role="button"
            >Eliminar</a
          >
        </td>
      </tr>
      {% endfor %}
    </table>

    {% endif %}
    <div class="container row">{% block content %} {% endblock %}</div>
    <!--   Bootstrap JS Jquery -->

    <script src="{% static 'talentoh/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'talentoh/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'talentoh/js/libreria.js' %}"></script>
  </body>
</html>
